<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>GeekLog</title>
    <!-- <a target="_blank" href="https://icons8.com/icon/1jq1ghRqqaDy/story-book">Story Book</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
    <link rel="shortcut icon" href="/assets/img/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
  </head>
  <body>
    <nav>
      <!-- <a href="/login"><img
          id="logo"
          src="/assets/img/face.png"
          alt="face logo"
        /></a> -->
      <div class="navlink"><a id="loginButton" href="/login">Login</a></div>
      <div class="navlink"><a id="signupButton" href="/signup">Sign up</a></div>
    </nav>

    <section id="content">

    </section>

    <div id="logMessage" class="hidden">
      <h3><span id="errorMessage"></span></h3>
    </div>
    <script src="/assets/loginBundle.js"></script>
  </body>
  <footer>
    <div><a href="../hosted/docs/documentation.txt">View my Documentation</a></div>
    <div><a
        target="_blank"
        href="https://icons8.com/icon/1jq1ghRqqaDy/story-book"
      >Story Book</a>
      icon by
      <a target="_blank" href="https://icons8.com">Icons8</a></div>
  </footer>
</html>