html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

nav,
footer {
  display: flex;
  flex-direction: row;
  background-color: #982345;
  width: 100%;
  color: white;
  padding: 10px;
  margin: 0;
  align-items: center;
}

nav div,
footer div {
  padding-left: 25px;
}

nav {
  height: 40px;
  position: absolute;
  top: 0;
}

#pageNav,
#pageUtils {
  display: flex;
  flex-direction: row;
}

#pageUtils {
  margin-right: 80px;
  margin-left: auto;
}

.userGreeting * {
  margin: 0px !important;
  padding: 0px !important;
}

.navlink a,
.navlink a:link,
.navlink a:visited,
.navlink a:hover,
.navlink a:active {
  color: white;
  padding: 5px;
  transition: color 0.4s ease;
}

.navlink a:hover {
  transition: color 0.8s ease;
  color: #fe89ab;
}

footer {
  height: 30px;
  justify-content: center;
  position: fixed;
  bottom: 0;
}

#content {
  align-items: center;
  justify-content: center;
}

#logout {
  float: right;
  padding-right: 25px;
}

#pageUtils button.notPrem {
  background-color: gold;
  color: black;
  border-radius: 5px;
}
#pageUtils button.prem {
  background-color: white;
  color: black;
  border-radius: 5px;
}

.setRating {
  color: gold;
  display: flex;
  flex-direction: row;
  font-size: 1.25rem;
  padding-top: 10px;
}

.movie-format,
.show-format,
.book-format {
  font-size: 3rem;
  align-self: center;
  justify-content: center;
  padding: 20px;
  width: 70px;
}

.movie,
.show,
.book {
  border-radius: 10px;
  height: 150px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  padding: 20px;
  width: 550px;
}

.movie {
  border: 5px solid #11570e;
  background-color: #c4feab;
}
.movie-format {
  color: #11570e;
}

.show {
  border: 5px solid #0e1e57;
  background-color: #abe8fe;
}
.show-format {
  color: #0e1e57;
}

.book {
  border: 5px solid #3b0e57;
  background-color: #e8c0ff;
}
.book-format {
  color: #3b0e57;
}

div.content {
  display: flex;
  flex-direction: column;
  width: 400px;
}

div.mediaHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.comments,
.favorite-characters {
  text-wrap: wrap;
}

#app,
section#content {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  align-content: center;
}

form input,
form select {
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px;
}

form label {
  margin-top: 10px;
  font-size: 1.25rem;
}

input[type="submit"],
button {
  border: none;
}
